# ----- NetBeans Related Files ----- #

# Files with following Extensions #
*.class

# Precise Paths & Locations #
Raspberry/RoutineGuard_App/build/
Raspberry/RoutineGuard_App/nbproject/private/
Raspberry/RoutineGuard_App/dist/README.TXT
Raspberry/RoutineGuard_App/dist/RoutineGuard_App.jar
