# RoutineGuard - '.gitignore' file

# NetBeans Related Files #
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Keep Libraries #
# Ref: https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder #